In [1]:
# these codes have been used to import python libraries to work on the data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 40)
import warnings
warnings.filterwarnings("ignore")

## 1. Load & Inspect Data

### 1.1 Read the CSV file into the variable "hotel". Use pandas library to read the file. (1 Mark)

In [2]:
#we need to used the function pd.read_csv('file_name.csv') to read a csv file we can also read multiply kinds of files, 
#example pd.read_html.
hotel = pd.read_csv('hotel_mod.csv')

### 1.2 Inspect the Data Frame (4 Marks)

- Write the code to check the top-5 rows
- Write the code to check the shape of the data frame, hotel.
- Write the code to check the info about the data frame, hotel.
- Wrtie the code to print the column names of the data frame, hotel.

In [3]:
#Look at the first 5 rows of the data to get a basic intution
#here we have to use .head() function to get the top 5 rows of the Dataframe, we can also specify the number of rows within the
#parenthesis for the number of rows we want, example if we want the first ten rows so we will use .head(10) 

hotel.head()

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
# Check the number of rows and columns (shape) of the dataframe
# we need to use the .shape function to get the number of rows and columns 

row,columns = hotel.shape
print('Number of rows', row, '\nNumber of columns', columns)

Number of rows 119390
Number of columns 33

In [5]:
# Look at the basic information about the columns and look at the datatypes
# by using the .info() function we will get the basic information about the columns and what are their respective datatypes,
# we will also get the Rangeindex, Datacolumns.
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Customer_Id                     119390 non-null  object
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  int64
 3   lead_time                       119390 non-null  int64
 4   arrival_date_year               119390 non-null  int64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        119390 non-null  int64
 7   arrival_date_day_of_month       119390 non-null  int64
 8   stays_in_weekend_nights         119390 non-null  int64
 9   stays_in_week_nights            119390 non-null  int64
 10  adults                          119390 non-null  int64
 11  children                        119386 non-null  float64
 12  babies                          119390 non-null  int64
 13  meal                            119390 non-null  object
 14  country                         118902 non-null  object
 15  market_segment                  119390 non-null  object
 16  distribution_channel            119390 non-null  object
 17  is_repeated_guest               119390 non-null  int64
 18  previous_cancellations          119390 non-null  int64
 19  previous_bookings_not_canceled  119390 non-null  int64
 20  reserved_room_type              119390 non-null  object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119390 non-null  int64
 23  deposit_type                    119390 non-null  object
 24  agent                           103050 non-null  float64
 25  company                         6797 non-null    float64
 26  days_in_waiting_list            119390 non-null  int64
 27  customer_type                   119390 non-null  object
 28  adr                             119390 non-null  float64
 29  required_car_parking_spaces     119390 non-null  int64
 30  total_of_special_requests       119390 non-null  int64
 31  reservation_status              119390 non-null  object
 32  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(13)
memory usage: 30.1+ MB

In [6]:
# Write the code to check the column names 
# we used .columns function to get all the names of the columns we have in our dataset, we also used . tolist() so that it gives
# us a cleaner version of th column names in form of a list.
hotel.columns.tolist()

['Customer_Id',
 'hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

## 2. Data Cleaning (5 Marks)

### 2.1 Get the column-wise Null percentage count using 'isnull()' and length of the dataframe (2 Marks)

#### Hint: When we use isnull().sum() we get sum and when we divide it by the length of the dataframe and multiply the numerator with 100 we get the percentage of missing values in each column

In [7]:
# Get the percentage of missing values in each column .Sort the output in descending order
# we used .isnull() function to get all the NaN or Null values in our data, we also used .sum()/len()*100 to get the percentage
# of null values each column has, we used the round function to round the values up to 2 decimal places, ascending = False, to
# arrange the values in the descending order, here we see that the columns 'company' & 'agent' have the most NaN values.

round(hotel.isnull().sum()/len(hotel)*100,2).sort_values(ascending = False)

company                           94.31
agent                             13.69
country                            0.41
arrival_date_day_of_month          0.00
babies                             0.00
children                           0.00
adults                             0.00
stays_in_week_nights               0.00
stays_in_weekend_nights            0.00
reservation_status_date            0.00
arrival_date_week_number           0.00
arrival_date_month                 0.00
arrival_date_year                  0.00
lead_time                          0.00
is_canceled                        0.00
hotel                              0.00
meal                               0.00
distribution_channel               0.00
market_segment                     0.00
reservation_status                 0.00
is_repeated_guest                  0.00
previous_cancellations             0.00
previous_bookings_not_canceled     0.00
reserved_room_type                 0.00
assigned_room_type                 0.00
booking_changes                    0.00
deposit_type                       0.00
days_in_waiting_list               0.00
customer_type                      0.00
adr                                0.00
required_car_parking_spaces        0.00
total_of_special_requests          0.00
Customer_Id                        0.00
dtype: float64

### 2.2 We can see that the columns 'company' and 'agent' have 94% and 13% of values missing respectively. Since our business goals doesnot require these columns also, since these columns contain huge missing values.So,lets drop them. (2 marks)

In [8]:
# we dropped the columns 'company' & 'agent' using the .drop function and setting the axis = 1 to drop the columns, by default
# it sets the axis = 0, which means it will drop the rows.
hotel = hotel.drop(['company', 'agent'], axis = 1)

In [9]:
hotel.head()

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [10]:
# we again used the function .columns.tolist() to check if the columns 'company' & 'agent' have been droped.
hotel.columns.tolist()

['Customer_Id',
 'hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

### Though country contains 0.40% of missing values it is a important factor in our analysis. Also, dropping the whole column for such low missing values is not the right choice. Lets drop the rows which has column 'country' missing.

In [11]:
# 
hotel = hotel[~ hotel['country'].isnull()]

### 2.3 Explain the code below: (1 mark)

What is the below code block doing?

In [12]:
hotel['children'][hotel['children'].isnull()] = 0

# Write your answer here
#Code will replace the NaN values with 0

## 3.Data Analysis (25 Marks)

## 3.1 Analysing the possible reasons for the customers to cancel the booking (11 Marks)

### 3.1.1 In total how many customers cancelled the booking? (2 Marks)

In [13]:
## use the column 'is_canceled' and check the number of total cancellations
# we have used the .loc function because we want to wuery using the columnn name and used ':' colons becaue we want the entire 
# rows, after that we used .sum() to get the sum of the column 'is_canceled' to get the sum.
can = hotel[hotel['is_canceled'] == 1]
can.loc[:,'is_canceled'].sum()

44157

### 3.1.2 What percentage of bookings were cancelled for City Hotel and Resort Hotel? (2 marks)

In [31]:
## Use group by and calculate the percentage of cancellations for City Hotel and Resort Hotel
#  here we get the total cancellations and total bookings for each hotel and assign it to a new dataframe, and then we 
#calculated the percetage cancellations for each hotel by dividing the total cancellations by the total bookings for each hotel.


#tot_can = hotel[hotel['is_canceled'] == 1].groupby(['hotel']) ['is_canceled'].sum()
#print('Total number of cancellations by hotel type - \n', tot_can )

#tot_book = hotel.groupby(['hotel'])['is_canceled'].count()
#print('\nTotal number of bookings by hotel type - \n', tot_book)

#print('\npercentage of booking cancellations for each hotel type')

#ptage_can = round((tot_can/tot_book)*100,2 )
#print(ptage_can)

tot_can = hotel.groupby('hotel').agg({'is_canceled':np.nanmean})
print('percentage_cancellations', round(tot_can*100,2))

percentage_cancellations               is_canceled
hotel
City Hotel          41.71
Resort Hotel        27.98

### 3.1.3 Who gave more special requests? Customers who cancelled the booking or customers who didnot cancel the booking? Find the percentage for both the cases (2 Marks)

In [15]:
# Write your code here
# here we created a a new dataframe by the name 'cancelled' with the column 'is_canceled' which has the value 1, i.e they 
# cancelled the booking, also we created a dataframe 'can_req' which gave us the sum of 'total_of special_requests' by the 
#customers who cancelled the booking
cancelled = hotel[hotel['is_canceled'] == 1]
cancelled.head()
can_req =  cancelled['total_of_special_requests'].sum()
print(can_req)

14516

In [16]:
# here we created a a new dataframe by the name 'non_cancelled' with the column 'is_canceled' which has the value not equal to 1,
#i.e they did not cancel the booking, also we created a dataframe 'nonc_req' which gave us the sum of 'total_of special_requests'
# by the customers who did not cancel the booking.




non_cancelled = hotel[hotel['is_canceled'] != 1]
non_cancelled.head()
nonc_req = non_cancelled['total_of_special_requests'].sum()
print(nonc_req)

53461

In [17]:
# Calculate the percentage for both the above data by dividing by total number of special requests.
sp_req_cancel = round((can_req)/(can_req + nonc_req)*100,2)
sp_req_ncancel = round((nonc_req)/(can_req + nonc_req)*100,2)
print('percentage of customers who had cancelled the booking and had a special request -', sp_req_cancel, '%')  
print('percentage of customers who did not cancel the booking and had a special request -', sp_req_ncancel, '%' )

percentage of customers who had cancelled the booking and had a special request - 21.35 %
percentage of customers who did not cancel the booking and had a special request - 78.65 %

In [18]:
# from the above two functions we can see that 21.35% customers who had cancelled the booking had special requests,where as
# 78.65% customers who did not cancel the booking had special requests, we can conclude that customers who did not cancel the
#booking had more special request.
if sp_req_ncancel > sp_req_cancel:
    print('customers who did not cancel the booking had more special request')
else:
    print('customers who cancelled the booking had more special request')

customers who did not cancel the booking had more special request

### 3.1.4 What is the average number of days a particular customer needs to wait who later cancelled the booking and who didn't cancelled the booking? (2 Marks)

In [19]:
## Write your code here
#Avg number of days customers who had to wait & who later cancelled the booking
# here we used our dataframe 'cancelled',selected the column 'days_in_waiting_list' and used .mean() to get the average number of days
print('Avg number of days customers who had to wait & who later cancelled the booking',  round(cancelled['days_in_waiting_list'].mean(),2),'days')

Avg number of days customers who had to wait & who later cancelled the booking 3.57 days

In [20]:
# Avg number of days customers who had to wait & who later didn't cancelled the booking
# here we used our dataframe 'non_cancelled',selected the column 'days_in_waiting_list' and used .mean() to get the average
#number of days
non_cancelled.head()
print('Avg number of days customers who had to wait & who later did not cancel the booking', round(non_cancelled['days_in_waiting_list'].mean(),2),'days')

Avg number of days customers who had to wait & who later did not cancel the booking 1.6 days

### 3.1.5 What is the percentage of customers who have cancelled the booking and have a history of cancelling the booking previously? (2 Marks)

In [21]:
# Write your code here
#percentage of customers who have cancelled the booking and have a history of cancelling the booking previously
# we filtered the the dataframe cancelled witht the column 'previous_cancellations' having value not equal to 0 which means they
# had a history of previous cabcellation and assigned the filtered data to a new data frame 'prvcan'

# assigned a new data frame 'can_prevc' which has the sum of the previous cancellations

# then we used the .sum() and divided by the all the customers to get the percentage of customers who cancelled the booking 
# and have a previous cancellation history
prvcan = cancelled[cancelled['previous_cancellations'] != 0]
can_prevc = prvcan['is_canceled'].sum()
print('total number of persons who cancelled the booking', can_prevc)
answer = round((can_prevc/len(hotel))*100,2)
print('percentage of customers who have cancelled the booking and have a history of cancelling the booking previously', answer, '%')

total number of persons who cancelled the booking 5918
percentage of customers who have cancelled the booking and have a history of cancelling the booking previously 4.98 %

### 3.1.6 What steps from the business perspective can you take to ensure that people who cancelled bookings previously do not repeat that again? (1 Mark)

# if the business has observed a trend of higher cancellations then a strategy of launching non refundable rates shall be discussed. such fenced rates can attract demand as they will set a discounted rate and will ensure a very minimal trend of 
cancellations.

## 3.2 Filtering out top 10 customers to offer them discounts when they visit next time (14 Marks)

### 3.2.1 Filter customers that have not cancelled the booking. (2 marks)

In [22]:
# we created a new dataframe 'not_cancel' which has the customers who did not cancel the booing, we set the filter not equal to 
# 1, and then we also used .head() function to get the top 5 rows of the new dataframe.
not_cancel = hotel[hotel['is_canceled'] != 1]
print(len(not_cancel))
not_cancel.head()

74745

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

From now on we will use this dataframe for further analysis

Let's now calculate the total stay duration for customer together with the revenue generated by that particular customer. Using these metrics, we would be able to identify top customers that are profitable to the hotel.

### 3.2.2 Create a new column "total_stay_duration" in the data frame not_cancel. (2 Marks)

Total_Stay_Duration is defined as the number of nights a customer stayed in the hotel including both weekends and weekdays

In [23]:
# we created a new column 'total_stay_duration' and gave it a value of the sum of two columns 'stays_in_weekend_nights' &
#'stays_in_week_nights'

not_cancel['total_stay_duration'] = not_cancel['stays_in_weekend_nights'] + not_cancel['stays_in_week_nights']

### 3.2.3 Create a new column "total_revenue" in the data frame not_cancel. (2 Marks)

Total_Revenue can be calculated by multiplying average rental revenue(adr) with total stay duration(column created in last question)

The average daily rate (adr) measures the average rental revenue earned for an occupied room per day. The operating performance of a hotel or other lodging business can be determined by using the ADR.

In [24]:
# we created a new column 'Total_revenue' and gave it a value of the multiplication of two columns 'adr' & 'total_stay_duration'
#'stays_in_week_nights'
not_cancel['Total_revenue'] = not_cancel['adr'] * not_cancel['total_stay_duration']

### 3.2.4 Find the top 10 customers based on trip duration who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [25]:
# we used .sort_values() & ascending = False to sort the data in a descending order, and used .head(10) to get the op 10 count
# in descending order.
nonc_city = not_cancel[not_cancel['hotel'] == 'City Hotel']
nonc_city.sort_values('total_stay_duration', ascending=False).head(10)

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
101794,Customer_101795,City Hotel,0,140,2016,September,39,22,16,41,0,0.0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,K,12,No Deposit,0,Transient,8.34,0,2,Check-Out,2016-11-18,57,475.38
88017,Customer_88018,City Hotel,0,16,2016,March,11,11,14,35,0,0.0,0,BB,PRT,Corporate,TA/TO,0,0,0,A,K,21,No Deposit,0,Transient-Party,0.00,0,0,Check-Out,2016-04-29,49,0.00
54704,Customer_54705,City Hotel,0,206,2016,July,30,23,14,34,2,0.0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,K,6,No Deposit,0,Transient-Party,0.00,0,1,Check-Out,2016-09-09,48,0.00
106561,Customer_106562,City Hotel,0,11,2017,January,3,15,13,30,0,0.0,0,SC,USA,Online TA,TA/TO,0,0,0,A,K,14,No Deposit,0,Transient,0.00,0,0,Check-Out,2017-02-27,43,0.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
41020,Customer_41021,City Hotel,0,0,2015,August,33,10,9,20,0,0.0,0,SC,PRT,Online TA,Direct,0,0,0,E,K,20,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-09-08,29,0.00
98046,Customer_98047,City Hotel,0,42,2016,August,35,27,8,20,0,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,D,K,2,No Deposit,0,Transient,0.00,0,1,Check-Out,2016-09-24,28,0.00
109038,Customer_109039,City Hotel,0,2,2017,March,10,9,8,19,0,0.0,0,SC,PRT,Direct,Direct,0,0,0,G,K,14,No Deposit,0,Transient,0.00,0,0,Check-Out,2017-04-05,27,0.00
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00

### 3.2.5 Find the top 10 customers based on trip duration who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [26]:
# we used .sort_values() & ascending = False to sort the data in a descending order, and used .head(10) to get the op 10 count
# in descending order.

nonc_resort = not_cancel[not_cancel['hotel'] == 'Resort Hotel']
nonc_resort.sort_values('total_stay_duration', ascending = False).head(10)

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
33924,Customer_33925,Resort Hotel,0,71,2017,January,2,10,16,40,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,28.79,0,0,Check-Out,2017-03-07,56,1612.24
1655,Customer_1656,Resort Hotel,0,30,2015,September,37,7,13,33,2,0.0,0,SC,ESP,Online TA,TA/TO,0,0,0,A,I,17,No Deposit,0,Transient,0.00,0,1,Check-Out,2015-10-23,46,0.00
32589,Customer_32590,Resort Hotel,0,1,2017,February,5,3,13,32,1,0.0,0,BB,GBR,Direct,Direct,1,0,1,A,D,2,No Deposit,0,Transient,42.11,0,3,Check-Out,2017-03-20,45,1894.95
3850,Customer_3851,Resort Hotel,0,214,2016,January,5,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,31.45,0,0,Check-Out,2016-03-08,42,1320.90
34614,Customer_34615,Resort Hotel,0,242,2017,February,7,17,12,30,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,35.70,0,1,Check-Out,2017-03-31,42,1499.40
34898,Customer_34899,Resort Hotel,0,150,2017,February,9,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Contract,39.41,0,2,Check-Out,2017-04-09,42,1655.22
35059,Customer_35060,Resort Hotel,0,80,2017,March,10,5,12,26,2,0.0,0,SC,GBR,Groups,TA/TO,0,0,0,D,I,10,No Deposit,0,Transient-Party,0.26,0,0,Check-Out,2017-04-12,38,9.88
33620,Customer_33621,Resort Hotel,0,88,2017,January,4,24,10,25,2,0.0,0,BB,GBR,Direct,Direct,0,0,0,D,D,0,No Deposit,0,Transient,41.47,0,1,Check-Out,2017-02-28,35,1451.45
33234,Customer_33235,Resort Hotel,0,192,2017,January,2,14,10,25,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,34.00,0,0,Check-Out,2017-02-18,35,1190.00
32946,Customer_32947,Resort Hotel,0,140,2017,January,1,6,10,25,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,45.00,0,1,Check-Out,2017-02-10,35,1575.00

### 3.2.6 Find the top 10 customers based on total revenue who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [27]:
# we used .sort_values() & ascending = False to sort the data in a descending order, and used .head(10) to get the op 10 count
# in descending order.

nonc_city.sort_values('Total_revenue', ascending=False).head(10)

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00
105525,Customer_105526,City Hotel,0,5,2017,January,4,25,4,13,2,2.0,0,BB,AGO,Online TA,TA/TO,0,0,0,F,G,1,No Deposit,0,Transient,223.00,0,0,Check-Out,2017-02-11,17,3791.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
95420,Customer_95421,City Hotel,0,120,2016,August,32,5,4,10,2,2.0,0,BB,FRA,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,0,Transient,220.00,1,1,Check-Out,2016-08-19,14,3080.00
95150,Customer_95151,City Hotel,0,152,2016,July,31,30,5,11,3,0.0,0,HB,FRA,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,184.34,0,2,Check-Out,2016-08-15,16,2949.44
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
106335,Customer_106336,City Hotel,0,30,2017,February,5,2,6,16,2,0.0,0,BB,CN,Online TA,TA/TO,0,0,0,E,E,1,No Deposit,0,Transient,115.60,0,3,Check-Out,2017-02-24,22,2543.20
81695,Customer_81696,City Hotel,0,1,2017,April,14,3,5,11,1,0.0,0,BB,AGO,Direct,Direct,1,0,3,D,D,7,No Deposit,0,Transient,150.00,0,2,Check-Out,2017-04-19,16,2400.00
93470,Customer_93471,City Hotel,0,13,2016,July,29,13,2,7,3,0.0,0,BB,FIN,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,0,Transient,265.44,0,2,Check-Out,2016-07-22,9,2388.96
108825,Customer_108826,City Hotel,0,7,2017,March,12,22,2,9,2,0.0,1,BB,PRT,Online TA,TA/TO,0,0,0,F,F,2,No Deposit,0,Transient,212.73,0,2,Check-Out,2017-04-02,11,2340.03

### 3.2.7 Find the top 10 customers based on total revenue who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [28]:
# we used .sort_values() & ascending = False to sort the data in a descending order, and used .head(10) to get the op 10 count
# in descending order.
nonc_resort.sort_values('Total_revenue', ascending = False).head(10)

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
27242,Customer_27243,Resort Hotel,0,82,2017,August,33,15,4,10,2,2.0,0,BB,PRT,Direct,Direct,1,0,1,G,G,2,No Deposit,0,Transient,318.00,1,3,Check-Out,2017-08-29,14,4452.00
16087,Customer_16088,Resort Hotel,0,103,2015,August,31,1,4,9,2,1.0,0,HB,PRT,Direct,Direct,0,0,0,H,H,0,No Deposit,0,Transient,297.50,1,1,Check-Out,2015-08-14,13,3867.50
39252,Customer_39253,Resort Hotel,0,128,2017,August,31,3,2,8,3,0.0,0,HB,PRT,Direct,Direct,0,0,0,F,F,1,No Deposit,0,Transient,368.10,1,1,Check-Out,2017-08-13,10,3681.00
38913,Customer_38914,Resort Hotel,0,175,2017,August,31,3,4,10,2,0.0,0,HB,FRA,Online TA,TA/TO,0,0,0,E,E,2,No Deposit,0,Transient,258.29,0,2,Check-Out,2017-08-17,14,3616.06
15980,Customer_15981,Resort Hotel,0,202,2015,July,30,23,5,13,2,1.0,0,HB,BEL,Online TA,TA/TO,0,0,0,E,E,2,No Deposit,0,Transient,196.00,0,2,Check-Out,2015-08-10,18,3528.00
27066,Customer_27067,Resort Hotel,0,250,2017,August,32,6,4,10,3,0.0,0,HB,PRT,Direct,Direct,1,0,1,E,E,0,No Deposit,0,Transient,251.43,1,3,Check-Out,2017-08-20,14,3520.02
15400,Customer_15401,Resort Hotel,0,109,2017,June,24,16,4,7,3,0.0,0,FB,PRT,Direct,Direct,1,0,2,F,F,0,No Deposit,0,Transient,318.82,1,2,Check-Out,2017-06-27,11,3507.02
15399,Customer_15400,Resort Hotel,0,94,2016,July,27,2,4,7,3,0.0,0,FB,PRT,Direct,TA/TO,1,0,1,F,F,0,No Deposit,0,Transient,317.00,1,1,Check-Out,2016-07-13,11,3487.00
26035,Customer_26036,Resort Hotel,0,165,2016,June,26,21,8,20,2,0.0,0,HB,IRL,Offline TA/TO,TA/TO,0,0,0,A,C,0,No Deposit,0,Transient,124.20,0,0,Check-Out,2016-07-19,28,3477.60
14039,Customer_14040,Resort Hotel,0,74,2017,July,26,1,9,21,1,0.0,0,HB,PRT,Direct,Direct,0,0,2,E,E,0,No Deposit,0,Transient,115.00,2,3,Check-Out,2017-07-31,30,3450.00

In [29]:
hotel.head()

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

KeyError: "['agent'] not in index"